/* GLOBAL STUFF */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --principal: #EE7070;
    --secondary: #333333;
    --third: #D9D9D9;
    --back: #f5f5f5;
    --blueButton: #0076FF;
    --col: "4";
}


h3,
h4,
h2,
p {
    margin: 0;
}




body {
    background-color: var(--back);
}


.box {

    height: 52vh;
    max-height: 562px;
    width: 562px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.centered {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.botones {
    margin-top: 0px;
}

.recover {
    font-size: 16px;
    cursor: pointer;
    color: var(--blueButton);
    margin-top: 32px;
}

.lateralButtons {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.gapping {
    gap: 20px;
}

/* LOGIN */

.loginBox {

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 562px;
    height: 52vh;

    background: #FFFFFF;
    /* Gris */

    border: 0.5px solid #D9D9D9;
    border-radius: 16px;

    box-sizing: border-box;
}

.loginLogo {
    width: 562px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLogo img {
    width: 228px;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 3vh;

    width: 450px;
}

.formBox p {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 2px;
}

.inputs {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    height: 4.6vh;
    width: 450px;


    background: #FFFFFF;
    /* Gris */

    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.inputs:focus {

    border: 1px solid #555;

}

.inputs:valid {

    border: 1px solid var(--blueButton);

}


.inputsBar {


    flex-direction: row;

    padding: 5px;
    gap: 10px;

    height: 4.6vh;
    max-width: 200px;


    background: var(--back);
    /* Gris */

    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}


.inputsBar:focus {

    border: 1px solid #555;

}


.loginButton {
    width: 450px;
    height: 4.6vh;
    cursor: pointer;

    color: white;
    background-color: var(--blueButton);

    border-radius: 8px;
    border: none;
}

.passContainer {
    position: relative;
}

.showPass {
    position: absolute;
    top: -5px;
    right: 5px;
    color: black;
    padding: 15px;
    cursor: pointer;
    width: 3.5rem;
}

.showPass:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}


.forgotMessage {
    margin: 0 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.checkContainer {
    width: 450px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}


.labelOrder {
    font-size: 16px;
    text-align: left;

}


/* PRODUCTOS */

.listaProductos {
    height: 7vh;
    width: 85vw;

    text-align: center;
    align-items: center;

    display: grid;

    border-bottom: 0.5px solid #D9D9D9;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 0 0;


    box-sizing: border-box;
}

.listaProductos input,
select {
    border: 0.5px solid #D9D9D9;
    border-radius: 8px;

    background-color: #f9f9f9;
}


/* Make sure that the list ocuppy some space even if it is empty */
.productsCard {


    height: 56vh;
    box-sizing: border-box;
}

/* Are you sure? */

.alert {
    text-align: center;
    width: 40vw;
    height: 20vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}




.alertDescription {
    text-align: center;
    width: 562px;
    height: 54vh;
    padding: 40px;

    box-sizing: border-box;

    background: #FFFFFF;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.alertDescription::before {
    content: '';
    background-color: #333333;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.someAlert::before {
    content: '';
    background-color: #333333;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.someAlert {

    border-radius: 16px;
    background-color: white;
}

.alertDescription h1 {
    text-align: left;
    margin: 0 0 20px 0;
}


.alertDescription p {
    font-size: 14px;
    text-align: left;
}

.textArea {
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    height: 12vh;
    resize: none;
}



.descriptionCancel {
    position: absolute;
    margin: auto auto;

    left: 25vw;
    bottom: 150px;

    width: 500px;
    height: 30vh;

    background-color: #feffff;
    border: 3px solid rgba(238, 112, 112, 0.4);

    padding: 20px;
    box-sizing: border-box;

    transition: all 1s ease-in-out;

}

/* BARRA USUARIO */

.sessionStyle {
    background-color: red;
    color: white;
    width: 12vw;
}

.logOut {
    cursor: pointer;
    height: auto;
    background-color: rgb(2, 2, 2);

}

/* WELCOME */

.welcomeTouch {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.selectTouch {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 3px black;
    margin: 0;
}

.message {
    width: 80vw;
    text-align: center;
}


.cancelledSale {
    background: rgba(238, 112, 112, 0.4);
    border-radius: 8px;
}

.facturedSale {
    background: rgba(22, 199, 154, 0.2);
    border-radius: 8px;
    color: #16C79A;
}

.saleInfo {
    width: 42px;
    opacity: 0.9;
}

.showBox {
    border: 0.5px solid #D9D9D9;
    border-radius: 8px;
}


/* Sale quantity buttons*/

.saleButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sessionBar {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #ed6f70;
}

.navImg {
    display: flex;
    align-items: center;
}

.navImg img {
    height: 80px;
    cursor: pointer;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}

.navigateMenuButton {
    cursor: pointer;
    padding: 5px;
    border: solid 4px rgb(245, 242, 242);
    color: #ed6f70;
}

.navigateMenuButton:hover {
    cursor: pointer;
    color: #b40000;
}

/* BUTTONS */

.button {
    max-height: 30px;
    cursor: pointer;
    padding: 5px;
    border: solid 4px rgb(245, 242, 242);
    color: #ed6f70;
}

.button:hover {
    cursor: pointer;
    color: #b40000;
}


.buttonActive {
    width: 32px;
    height: 3.1vh;
    background: #FFFFFF;
    border-radius: 8px;
    border: 2px solid var(--blueButton);
}

.buttonNonActive {
    width: 32px;
    height: 3.1vh;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.301);
}

.buttonNonActive:hover {
    border: 2px solid rgba(128, 128, 128, 0.301);
}

.buttonNo {
    cursor: pointer;
    width: 86px;
    height: 4vh;
    border: 1px solid var(--blueButton);
    border-radius: 8px;
    background-color: white;

    color: var(--blueButton);


}

.buttonYes {
    cursor: pointer;
    width: 86px;
    height: 4vh;

    background: var(--blueButton);
    border-radius: 8px;

    border: none;

    color: white;
}

.buttonAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 207px;
    height: 4.6vh;
    padding: 12px 32px;
}

.buttonAdd:hover {
    border:10px solid #00ff0d;
    transition: all 1s ease;
}

.buttonSet {
    display: flex;
    justify-content: flex-end;
    gap: 16px
}

.disableButton {
    opacity: 0.3;
}

.buttonExport {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    color: var(--blueButton);
}

.buttonExport:enabled {
    cursor: pointer;
}

.buttonExport:disabled {
    opacity: 0.3;
}

/* LOADING */

.ldsCircle {
    display: inline-block;
    transform: translateZ(1px);
}

.ldsCircle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #ce2897;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}


.boxEmergent {
    border: solid 2px rgb(0, 255, 128);
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.boxElement {
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxElement img {
    width: 80%;
    height: 80%;
    object-fit: contain;

}

.noProducts {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.space {


    padding: 20px 0px 20px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;

    height: 10vh;
}

.calendar {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

/* PAGINATION SELECT */

.paginationSelect {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.whiteIt {
    background-color: white;
}