h3{
    margin: 0;
}

.box{
    border: solid 2px blue;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones{
    margin-top: 20px;
}

.recover{
    font-size: 10px;
    cursor: pointer;
    color: rgb(52, 56, 59);
}

.lateralButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* PRODUCTOS */

.productsCard{
    height: 70vh;
    overflow-y: auto;
}

.listaProductos{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    border: solid 2px black;
}


/* Are you sure? */

.alert{
    text-align: center;
    width: 40vw;
    height: 20vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


/* BARRA USUARIO */

.sessionStyle{
    background-color: red;
    color: white;
}

.logOut{
    cursor: pointer;
    height: auto;
    background-color: rgb(2, 2, 2);
    
}