h3{
    margin: 0;
}

.box{
    border: solid 2px blue;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones{
    margin-top: 20px;
}

.recover{
    font-size: 10px;
    cursor: pointer;
    color: rgb(52, 56, 59);
}

.lateralButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* PRODUCTOS */

.productsCard{
    height: 70vh;
    overflow-y: auto;
}

.listaProductos{
    text-align: center;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    border: solid 2px black;
}


/* Are you sure? */

.alert{
    text-align: center;
    width: 40vw;
    height: 20vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


/* BARRA USUARIO */

.sessionStyle{
    background-color: red;
    color: white;
    width: 12vw;
}

.logOut{
    cursor: pointer;
    height: auto;
    background-color: rgb(2, 2, 2);
    
}

/* WELCOME */

.welcomeTouch{
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6,1fr);
    
}

.selectTouch {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 3px black;
    margin: 0;
}

.message {
    width: 80vw;
    text-align: center;
}


/* Sale quantity buttons*/

.saleButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sessionBar {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #ed6f70;
}

.navImg img{
    height: 80px;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}

.navigateMenuButton {
    cursor: pointer;
    padding: 5px;
    border: solid 4px rgb(245, 242, 242);
    color: #ed6f70;
}

.navigateMenuButton:hover {
    cursor: pointer;
    color: #b40000;
} 